@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-top: 30px;
	margin-left: 10px;
}

.accordion {
	max-width: 780px;
	margin: 0 auto;
}

.accordion ul {
	border: 1px solid #afafaf;
	border-radius: 10px;
	padding: 12px;
	list-style-type: none;
	box-shadow: 4px 45px 15px -27px rgba(0,0,0,.2);
}

.accordion li {
	border: 1px solid #afafaf;
	margin-bottom: 2px;
}

.accordion li:last-child {
	margin-bottom: 0;
}

.accordion li input[type="radio"] {
	display: none;
}

.accordion li label {
	display: block;
	padding: 10px;
	background: -webkit-linear-gradient(right, #e8d3a4, #00a0ae 80%);
	background: linear-gradient(to left, #e8d3a4, #00a0ae 80%);
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	transition: background .5s ease;
	cursor: pointer;
}

.tabContent {
	display: none;
	padding: 10px;
	background: -webkit-linear-gradient(bottom, #f2ebdb, #fff);
	background: linear-gradient(to top, #f2ebdb, #fff);
}

.tabContent p {
	text-transform: capitalize;
}

.accordion li input[type="radio"]:checked ~ label {
	background: #e8d3a4;
	color: #000;
}

.accordion li input[type="radio"]:checked ~ label ~ .tabContent {
	display: block;
}